.price {
    font-size: 40px;
    float: right;
     
}

.perDay {
    font-size: 20px;
}

.firstContainer {
    flex-wrap: wrap;
}

.description {
    margin-left: 60px;
}

.dates {
   padding-right:200px;
}

.descriptions {
    align-items: flex-end;
}

.carInfo {
    font-size: 30px;
    padding-left: 20px;
}