.carImg {
    height: 200px;
    width: 270px;
    object-fit: cover;
    cursor: pointer;
}

.carCard {
    height: 200px;
    width: 270px;
    display: inline-block;
    margin: 10px;
    margin-top: 30px;
}

.mainCard {
    display: inline-block;
}

.carInfo {
    text-align: center;
    margin-top: -10px
}

.year {
    font-size: 13px;
    font-weight: bold;
}

.makeModel {
    font-weight: bold;
}

.day {
    font-size: 13px;
    font-weight: bold;
}

.cardPrice {
    font-weight: bold;
}