.carImg {
    height: 200px;
    width: 270px;
    object-fit: cover;
}

.carCard {
    height: 200px;
    width: 270px;
    display: inline-block;
    margin: 10px;
}

.mainCard {
    display: inline-block;
}

.carInfo {
    text-align: center;
    margin-top: -10px
}