.nav-title {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 50px;
    margin-top: 5px;
}

.nav {
  overflow: hidden;
  background-color: #333;
  height: 50px;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #333;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-right {
  float: right;
}